.Home {
    background-color: #f1faee; /* Fondo claro */
    color: #1d3557; /* Color oscuro */
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

.Home-title h1 {
    font-size: 2.5em;
    color: #457b9d; /* Color secundario */
    margin-bottom: 30px; /* Espacio con las secciones */
}

.Home-sections {
    display: flex;
    flex-direction: column; /* Coloca las secciones en columna */
    align-items: center; 
}

.Home-section {
    display: flex;
    flex-direction: column; /* Organiza la imagen y el texto en columna */
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Espacio entre las secciones */
    text-decoration: none; /* Elimina subrayado de los enlaces */
    max-width: 800px; /* Limita el ancho de cada sección */
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d9e6; /* Borde ligero para destacar las secciones */
    border-radius: 10px;
    background-color: #c6cfc3; /* Fondo blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Home-section:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Efecto al pasar el mouse */
    transform: scale(1.02); /* Ligero zoom */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Home-image-container {
    width: 100%;
    height: auto;
    margin-bottom: 15px; /* Espacio entre la imagen y el texto */
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #457b9d;
}

.Home-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.Home-info {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.Home-info h2 {
    font-size: 1.5em;
    color: #2ec4b6; /* Color terciario */
    margin-bottom: 10px;
}

.Home-info p {
    font-size: 1em;
    color: #1d3557; /* Texto oscuro */
    line-height: 1.6;
    margin: 0;
}

/* Contraste */
.high-contrast .Home {
    background-color: #1d3557; /* Color oscuro */
    color: #f1faee; /* Fondo claro */
}

.high-contrast .Home-section {
    background-color: #1d3557;
    border: 1px solid #f1faee;
}

.high-contrast .Home-info {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para mayor contraste */
}

.high-contrast .Home-info h2, 
.high-contrast .Home-info p {
    color: #f1faee; /* Texto claro */
}
