.menu-accesibilidad {
    position: fixed;
    top: 20px;
    right: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 250px;
    background-color: #f8f9fa; /* Fondo del menú */
    color: #011627; /* Color del texto del menú */
}

.menu-toggle {
    background-color: #007bff; /* Color del botón */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.menu-items {
    margin-top: 10px;
}

.menu-items h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.menu-items ul {
    list-style-type: none;
    padding: 0;
}

.menu-items li {
    margin: 8px 0;
}

.menu-items button, .menu-items a {
    background-color: #f8f9fa; /* Fondo de los botones */
    border: 1px solid #007bff; /* Borde de los botones */
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    width: 100%;
    color: #007bff; /* Color del texto de los botones */
}

.menu-items a {
    text-decoration: none;
}

.high-contrast .menu-accesibilidad {
    background-color: #007bff; /* Fondo del menú en alto contraste */
    color: white; /* Color del texto en alto contraste */
}

.high-contrast .menu-items button,
.high-contrast .menu-items a {
    background-color: black; /* Fondo de los botones en alto contraste */
    color: white; /* Color del texto de los botones en alto contraste */
    border: 1px solid white; /* Borde de los botones en alto contraste */
}