.Senadis {
  background-color: #f1faee; /* Fondo claro */
  color: #1d3557; /* Color oscuro */
  padding: 20px;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.Senadis h1 {
  font-size: 2.5em;
  color: #457b9d; /* Color secundario */
}

.Senadis p {
  font-size: 1.1em;
}

.Senadis-image-container img {
  max-width: 100%;
  height: auto;
  border: 2px solid #a8dadc; /* Color terciario */
  border-radius: 50%;
}

/* Contraste */
.high-contrast .Senadis {
  background-color: #1d3557; /* Color oscuro */
  color: #f1faee; /* Fondo claro */
}

.high-contrast .Senadis h1,
.high-contrast .Senadis p {
  color: #f1faee; /* Fondo claro */
}

.high-contrast .image-container img {
  border: 5px solid #a8dadc; /* Color terciario */
}